.body{
   width: 100%;
   margin: 0px;
}

h1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: darkmagenta;
}

h2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: indianred;
}
#tarjeta{
    border: 30px solid;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
img{
    width: 100%;
}

body{
    background-image: url(https://4.bp.blogspot.com/-87RvtGNGyZQ/T6-0J1FUtYI/AAAAAAAAdfY/QGSSVWoDuvI/s1600/1024x768_argyle_0.jpg);
    
}

